<h1>New List</h1>

<p>
  <%= form_with model: @list local: do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit "Create new List" %>
  <% end %>
  <%= link_to "back to lists", lists_path %>
</p>
